body {
    background-image: url(assets/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 465px;
    width: 90%;
    max-width: 350px;
}

label {
    margin-left: 20px;
    display: block;
    color: whitesmoke;
}
.label2 {
    margin-left: 20px;
    color: whitesmoke;
}

input[type=text]{
    width: calc(100% - 60px);
    margin-left: 20px;
    display: block;
    height: 36px;
    border-radius: 12px;
    outline: none;
    border:  solid white;
    margin-top:  40px;
    margin-bottom: 15px;
    padding-left: 15px;
}
input[type=password]{
    width: calc(100% - 60px);
    margin-left: 20px;
    display: block;
    height: 36px;
    border-radius: 12px;
    outline: none;
    border:  solid white;
    margin-top:  10px;
    margin-bottom: 15px;
    padding-left: 15px;
}

p {
    text-align: center;
    color:whitesmoke;
    font-size: 13px;
}
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 14px;
    border-radius: 500px;
    overflow: hidden;
    background: #7d857d;
    color: ghostwhite;
    margin-left: 20px;
    margin-top: 20px;
    width: calc(100% - 40px);
    margin-right: 20px;
}
h2{
    padding-top: 20px;
    text-align: center;
    font-weight:bolder;
    color: whitesmoke;
    padding-bottom: 15px;
}
a{
    color: white;
    font-weight: bolder;
    text-decoration: none
}
.checkbox-1{
    padding-top: 5px;
    padding-bottom: 30px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.checkbox-1 label{
    display: inline;
    font-size: 13px;
    margin: 0;
    font-weight: 200;
}
.checkbox-1 input{
    margin: 0;
}
.checkbox-1 span{
    font-size: 13px;
    margin-left: 80px;
}
#Email-error, #Password-error {
    color: red;
    font-size: 12px;
    margin-left: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
}
#loginButton:disabled {
    background-color: red;
    color: white;
    cursor: not-allowed;
    opacity: 1;
}